
/* background */
body {
    background-color: lightcoral;
}


/* about header (h3) style */
.h3about, .characters_h3, .game_h3, .htw_h3 {
    color: white;
    font: bold;
    text-align: center;
    font-size: 50px;
}

/* about paragraph style */
.p_about, .p_characters, .game_text, .htw_text  {
    color: whitesmoke;
    font: bold;
    text-align: center;
    font-size: 20px;
}

/* style buttons */
.about, .games, .characters, .htw {
    border: lightcoral;
    height: 45px;
    width: 114px;
    margin-top: 5px;
    margin-left: 8.5px;
    margin-right: 8.5px;
    text-emphasis-color: #0000EE;
    font-size: 13px;
    border-radius: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: white;
    margin-bottom: 10px;
    font: bolder;
    background-color: #0000EE;
    background: blue
}

/* when hovering over buttons */
.about:hover, .games:hover, .characters:hover, .htw:hover {
    border: lightcoral;
    height: 50px;
    width: 114px;
    margin-top: -2px;
    margin-left: 8.5px;
    margin-right: 8.5px;
    text-emphasis-color: #0000EE;
    font-size: 13px;
    border-radius: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: lightcoral;
    box-shadow: 0px 0px 4px 4px #0000EE;
    margin-bottom: 10px;
    background-color: #0000EE;
    background: blue
}

.about:link, .games:link, .characters:link, .htw:link {
    color: #0000EE;
}
.e {
    color: lightcoral;
    width: 5px;
}

.prime_pic {
    size: 20px;
    vertical-align: middle;
    height: 300px;
    width: 340px;
    margin-right: 0px;
    float: middle;
}

.Dennis_pic {
    size: 20px;
    vertical-align: right;
    height: 400px;
    width: 330px;
    margin-right: 20px;
    float: right;
    margin-right: 50px;
}

.mike_pic {
    size: 20px;
    
    height: 400px;
    width: 400px;
    margin-left: 0px;
    float: left;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 500px;
}

.mike_text {
    float: middle;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 20px;
    width: 510px;
    margin-left: 50px;
}

.prime_text {
    float: bottom;
    
    height: 300px;
    size: 5px;
    vertical-align: bottom;
    float: middle;
    color: whitesmoke;
    font-size: 20px;
    width: 510px;
}

.Dennis_text {
    height: 300px;
    size: 5px;
    vertical-align: bottom;
    float: left;
    color: whitesmoke;
    font-size: 20px;
    width: 500px;
    margin-top: 200px;
    margin-left: 90px;
}

.game1 {
    float: left;
    margin-left: 100px;
}

.game2 {
    float: right;
    margin-right: 100px;
}

.game3 {
    float: left;
    margin-left: 100px;
}

.game4 {
    float: right;
    margin-right: 100px;
}

.game5 {
    float: left;
    margin-left: 100px;
}


.game6 {
    float: right;
    margin-right: 100px;
}

.monke {
    color: whitesmoke;
    size: 3px;
    align-items: center;
}