
/* background */
body {
    background-color:  #0072bb;
    
} 

.ban {
    width: 700px;
    height: 680;
    margin: 4px;
}

/* about header (h3) style */
.h3about, .characters_h3, .game_h3, .htw_h3 {
    color: white;
    font: bold;
    text-align: center;
    font-size: 55px;
}

/* about paragraph style */
.p_about, .p_characters, .game_text, .htw_text  {
    color: whitesmoke;
    font: bold;
    text-align: center;
    font-size: 23px;
}

/* style buttons */
.about, .games, .characters, .htw {
    border: lightcoral;
    height: 45px;
    width: 114px;
    margin-top: 5px;
    margin-left: 8.5px;
    margin-right: 8.5px;
    text-emphasis-color: lightcoral;
    font-size: 16.4px;
    border-radius: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: white;
    margin-bottom: 10px;
    font: bolder;
    background-color: lightcoral;
    background: lightcoral;
}

/* when hovering over buttons */
.about:hover, .games:hover, .characters:hover, .htw:hover {
    border: #0072bb;
    height: 50px;
    width: 114px;
    margin-top: -2px;
    margin-left: 8.5px;
    margin-right: 8.5px;
    text-emphasis-color: #0072bb;
    font-size: 16.4px;
    border-radius: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: white;
    box-shadow: 0px 0px 4px 4px lightcoral;
    margin-bottom: 10px;
    background-color: lightcoral;
    background: lightcoral
}

.about:link, .games:link, .characters:link, .htw:link {
    color: #0072bb;
}
.e {
    color: #0072bb;
    width: 5px;
}

.prime_pic {
    size: 20px;
    vertical-align: middle;
    height: 300px;
    width: 340px;
    margin-right: 0px;
    float: middle;
}

.Dennis_pic {
    size: 20px;
    vertical-align: right;
    height: 400px;
    width: 330px;
    margin-right: 20px;
    float: right;
    margin-right: 50px;
}

.mike_pic {
    size: 20px;
    
    height: 400px;
    width: 400px;
    margin-left: 0px;
    float: left;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 500px;
}

.mike_text {
    float: middle;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 23px;
    width: 510px;
    margin-left: 50px;
}

.prime_text {
    float: bottom;
    
    height: 300px;
    size: 5px;
    vertical-align: bottom;
    float: middle;
    color: whitesmoke;
    font-size: 23px;
    width: 510px;
}

.Dennis_text {
    height: 300px;
    size: 5px;
    vertical-align: bottom;
    float: left;
    color: whitesmoke;
    font-size: 23px;
    width: 500px;
    margin-top: 200px;
    margin-left: 90px;
}

.game1 {
    float: left;
    margin-left: 100px;
}

.game2 {
    float: right;
    margin-right: 100px;
}

.game3 {
    float: left;
    margin-left: 100px;
}

.game4 {
    float: right;
    margin-right: 100px;
}

.game5 {
    float: left;
    margin-left: 100px;
}


.game6 {
    float: right;
    margin-right: 100px;
}




.monke {
    color: whitesmoke;
    size: 3px;
    align-items: center;
}

.scrolltop {
    background-color: white;
    color: lightcoral;
    border-radius: 90px;
    border: 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    float: right;


    border: white;
    height: 60px;
    width:  60px;
    margin-top: 0px;
    margin-left: 8.5px;
    margin-right: 2pxpx;
    text-emphasis-color: lightcoral;
    font-size: 20px;
    border-radius: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: lightcoral;
    margin-right: 30px;
    margin-bottom: 25px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/271/271239.png');
}

